.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    /* сверху снизу по 0, слева справа автоматически */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 320px;

}