.projectsBlock {
    min-height: 100vh;
    background-color: #FFFFFF;
    padding-top: 50px;
}
/*min-height минимальная высота 100vh а максимум не ограничен*/
/*можно убрать совсем*/

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

/*.title {*/
/*    background-color: #d1ffd5;*/
/*    margin: 0 0 30px;*/
/*    font-family: 'Rubik', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-size: 40px;*/
/*    line-height: 48px;*/
/*    text-transform: uppercase;*/
/*    color: #1F1F1F;*/
/*    position: relative;*/
/*}*/

/*.title h2 {*/
/*    margin: 0;*/
/*}*/
/*!*создаю псевдоэлемент*!*/
/*.title ::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 60px;*/
/*    height: 3px;*/
/*    background-color: #c2e7ff;*/
/*}*/
/*!*выровнять псевдоэлемент посередине transform: translate(-50%, 50%), left: 50%*!*/

@media (max-width: 1004px) {
    .projects {
        display: flex;
        justify-content: center;
    }
}



